# Relationships

Various tests for relationships between variables can be found in the **SciPy** package, which we will import under the short name **sp**.

In [72]:
import numpy as np
import pandas as pd
import scipy.stats as ss

## Pearson's Correlation Coefficient

This measure of relatedness between two variables can be used when the variables are both **normally distributed** (which implies that they are both numeric). 

Assuming that both the latitude and longitude variables in the magnetic pole data are normally distributed, we look at whether there is a correlation between the two using Pearson's Correlation Coefficient.

In [73]:
# Get the pole data
mag_pole_data = pd.read_csv("polar.csv", index_col=0)
print(mag_pole_data)

     lat   long
1  -26.4  324.0
2  -32.2  163.7
3  -73.1   51.9
4  -80.2  140.5
5  -71.1  267.2
6  -58.7   32.0
7  -40.8   28.1
8  -14.9  266.3
9  -66.1  144.3
10  -1.8  256.2
11 -52.1   83.2
12 -77.3  182.1
13 -68.8  110.4
14 -68.4  142.2
15 -29.2  246.3
16 -78.5  222.6
17 -65.4  247.7
18 -49.0   65.6
19 -67.0  282.6
20 -56.7   56.2
21 -80.5  108.4
22 -77.7  266.0
23  -6.9   19.1
24 -59.4  281.7
25  -5.6  107.4
26 -62.6  105.3
27 -74.7  120.2
28 -65.3  286.6
29 -71.6  106.4
30 -23.3   96.5
31 -74.3   90.2
32 -81.0  170.9
33 -12.7  199.4
34 -75.4  118.6
35 -85.9   63.7
36 -84.8   74.9
37  -7.4   93.8
38 -29.8   72.8
39 -85.2  113.2
40 -53.1   51.5
41 -38.3  146.8
42 -72.7  103.1
43 -60.2   33.2
44 -63.4  154.8
45 -17.2   89.9
46 -81.6  295.6
47 -40.4   41.0
48 -53.6   59.1
49 -56.2   35.6
50 -75.1   70.7

In [74]:
# Get the correlation coefficient and p-value (the function returns two values)
r, p = ss.pearsonr(mag_pole_data["lat"], mag_pole_data["long"])
print("r = " + str(r))
print("p = " + str(p))

r = -0.0021438009514379956
p = 0.9882112420590565

**Interpretation:** The calculated Pearson's Correlation Coefficient is low (0.002), indicating no correlation. The two-tailed p-value is very close to 1 (0.99), meaning that a higher absolute coefficient value would be obtained for in 99% of cases for entirely unrelated variables with the same parameters as ours.

## Kendall's Tau

This measure of relatedness between two variables is a **rank** correlation coefficient, meaning that it can be used on variables with values that can be **ranked**, including any numeric or ordinal variables, regardless of their distribution.
     
Let us look at an example of a competition where judges rate competitors based on their performance. Let's say that the competitors are labelled A, B, C, D, E, F and G. We would like to see if there is a correlation between the ratings by two judges J1 and J2.

In [78]:
# Create lists of competitors ordered by rating, one for each judge
J1Ratings = ["A", "C", "B", "F", "D", "E", "G"]
J2Ratings = ["A", "B", "C", "F", "E", "D", "G"]

In [79]:
# Apply the Kendall Tau test to the listsabs
tau, p = ss.kendalltau(J1Ratings, J2Ratings)
print("tau = " + str(tau))
print("p = " + str(p))

tau = 0.8095238095238096
p = 0.010714285714285714

**Interpretation:** The calculated Kendall's Tau is high (0.81), indicating a positive correlation. The two-tailed p-value is approximately 0.01, meaning that in about 1% of cases this Tau value would be obtained for entirely unrelated sequences of the same length as ours (7). Now it is up to us to decide whether this gives us enough certainty in our particular scenario.

## Chi-squared

The chi-squared statistic can measure the relatedness between two categorical variables. It is applied to a table of values, containing instance counts for all possible combinations of values for the two variables.

### Example with ready data frame

In [80]:
# Numbers of patients with no, partial and full recovery for each of the 4 treatments
none = [20, 32, 8, 52]
partial = [9, 72, 8, 32] 
full = [16, 64, 30, 12] 

skin_treatment_df = pd.DataFrame({'None':none, 'Partial':partial, 'Full':full})
skin_treatment_df.index = ["Injection", "Tablet", "Laser", "Herbal"]

# Print the data frame representing the table of counts for each combination of treatment and 
# level of improvement (e.g. the number of patients that were treated with tablets and improved
# partially was 72).
print(skin_treatment_df)

           None  Partial  Full
Injection    20        9    16
Tablet       32       72    64
Laser         8        8    30
Herbal       52       32    12

In [81]:
# Apply the Chi-squared test to the data
chisq, p, dof, evs = ss.chi2_contingency(skin_treatment_df)
print("chi-squared " + str(chisq))
print("p = " + str(p))
print("degrees of freedom = " + str(dof))
print("expected value table: ")
print(evs)

chi-squared 66.16615112075414
p = 2.492436462625812e-12
degrees of freedom = 6
expected value table:
[[14.1971831  15.33802817 15.46478873]
 [53.0028169  57.26197183 57.73521127]
 [14.51267606 15.67887324 15.8084507 ]
 [30.28732394 32.72112676 32.9915493 ]]

**Interpretation:** The Chi-squared statistic is 66.17 and for degrees of freedom equal to 6 this equates to a p-value of 2.49 * 10^12. This p-value indicates that it is practically impossible for a Chi-squared value like ours, or greater, to be obtained when two variables with 6 degrees of freedom are entirely unrelated. This means high certainty that there is a relationship between the type of treatment and outcome for the patient.

### Example with contingency table

In [66]:
# Read in some data about commuting in Ireland
irl_trans = pd.read_csv("ireland_transport.csv")
irl_trans

,Group,Sex,Mode,1986,1991,1996,2001,2006,2011,2016
0,Children at school aged between 5 and 12 years,Male,On foot,129973,107125,79164,57570,55799,59986,64764
1,Children at school aged between 5 and 12 years,Male,Bicycle,14507,14203,7837,3640,3043,4457,4858
2,Children at school aged between 5 and 12 years,Male,"Bus, minibus or coach",52928,55474,51008,38590,34413,31217,29410
3,Children at school aged between 5 and 12 years,Male,"Train, DART or LUAS",325,438,306,262,328,371,383
4,Children at school aged between 5 and 12 years,Male,Motorcycle or scooter,0,0,0,0,0,0,0
5,Children at school aged between 5 and 12 years,Male,Motor car: Driver,0,0,0,0,0,0,0
6,Children at school aged between 5 and 12 years,Male,Motor car: Passenger,66293,73398,84966,110882,125866,150818,165890
7,Children at school aged between 5 and 12 years,Male,Other means (incl. lorry or van),898,1375,1109,1049,797,588,573
8,Children at school aged between 5 and 12 years,Male,Work mainly at or from home,507,639,2410,3489,4394,135,147
9,Children at school aged between 5 and 12 years,Male,Not stated,20344,19591,14406,6421,5606,9140,13640
10,Children at school aged between 5 and 12 years,Female,On foot,121974,101942,75612,54941,53254,58537,63454
11,Children at school aged between 5 and 12 years,Female,Bicycle,9128,8204,3834,1188,1044,1795,2468
12,Children at school aged between 5 and 12 years,Female,"Bus, minibus or coach",52317,54271,49425,37403,32937,29046,26735
13,Children at school aged between 5 and 12 years,Female,"Train, DART or LUAS",311,297,208,207,266,320,318
14,Children at school aged between 5 and 12 years,Female,Motorcycle or scooter,0,0,0,0,0,0,0
15,Children at school aged between 5 and 12 years,Female,Motor car: Driver,0,0,0,0,0,0,0
16,Children at school aged between 5 and 12 years,Female,Motor car: Passenger,67331,73638,82938,106426,120936,145893,161149
17,Children at school aged between 5 and 12 years,Female,Other means (incl. lorry or van),914,1291,1094,953,657,490,493
18,Children at school aged between 5 and 12 years,Female,Work mainly at or from home,431,513,2337,3136,3828,129,155
19,Children at school aged between 5 and 12 years,Female,Not stated,19095,18206,12887,6060,5199,8542,12479
20,Students at school or college aged between 13 ...,Male,On foot,50585,46865,48906,40249,36416,37443,37614
21,Students at school or college aged between 13 ...,Male,Bicycle,31522,30860,21783,10072,6856,6063,6588
22,Students at school or college aged between 13 ...,Male,"Bus, minibus or coach",52597,57146,67519,57417,52639,48143,49934
23,Students at school or college aged between 13 ...,Male,"Train, DART or LUAS",1660,2263,2330,2132,2673,2926,2933
24,Students at school or college aged between 13 ...,Male,Motorcycle or scooter,241,293,238,1205,399,181,97
25,Students at school or college aged between 13 ...,Male,Motor car: Driver,208,396,636,1388,2668,3584,2971
26,Students at school or college aged between 13 ...,Male,Motor car: Passenger,16044,21937,33103,42001,45750,61415,71622
27,Students at school or college aged between 13 ...,Male,Other means (incl. lorry or van),426,648,728,599,483,498,401
28,Students at school or college aged between 13 ...,Male,Work mainly at or from home,5190,4099,4311,2595,2020,137,114
29,Students at school or college aged between 13 ...,Male,Not stated,9296,9068,5946,2148,1668,3654,5579
...,...,...,...,...,...,...,...,...,...,...
50,Students at school or college aged 19 years an...,Female,On foot,6359,10126,18067,26235,24924,27566,26328
51,Students at school or college aged 19 years an...,Female,Bicycle,4639,4286,4486,2130,1630,2315,3355
52,Students at school or college aged 19 years an...,Female,"Bus, minibus or coach",5665,8651,15256,20929,20010,21165,24502
53,Students at school or college aged 19 years an...,Female,"Train, DART or LUAS",1135,2356,3214,4294,5773,5840,6641
54,Students at school or college aged 19 years an...,Female,Motorcycle or scooter,191,166,156,328,156,127,79
55,Students at school or college aged 19 years an...,Female,Motor car: Driver,699,1363,2959,11447,19487,29580,23499
56,Students at school or college aged 19 years an...,Female,Motor car: Passenger,1973,2740,4663,7068,6829,8795,10186
57,Students at school or college aged 19 years an...,Female,Other means (incl. lorry or van),80,136,227,169,156,128,118
58,Students at school or college aged 19 years an...,Female,Work mainly at or from home,397,560,1119,1106,1319,353,349
59,Students at school or college aged 19 years an...,Female,Not stated,1015,1266,1744,1003,1301,3148,3252
60,Population aged 15 years and over at work,Male,On foot,69916,58989,67964,83279,94567,73714,79566
61,Population aged 15 years and over at work,Male,Bicycle,39469,34337,33852,26423,27948,29075,41341
62,Population aged 15 years and over at work,Male,"Bus, minibus or coach",41878,35824,40512,48286,54271,38595,49788
63,Population aged 15 years and over at work,Male,"Train, DART or LUAS",9492,10352,11489,16897,28049,25652,32307
64,Population aged 15 years and over at work,Male,Motorcycle or scooter,12827,10463,10874,15122,11225,7332,6740
65,Population aged 15 years and over at work,Male,Motor car: Driver,308726,303338,378075,500004,580034,515813,561704
66,Population aged 15 years and over at work,Male,Motor car: Passenger,34726,33067,45519,52705,55033,25818,33351
67,Population aged 15 years and over at work,Male,Other means (incl. lorry or van),31142,41646,51862,111891,143533,127831,134521
68,Population aged 15 years and over at work,Male,Work mainly at or from home,159914,189110,127913,72712,69261,59278,65608
69,Population aged 15 years and over at work,Male,Not stated,28409,19979,26711,17717,20176,36067,52639
70,Population aged 15 years and over at work,Female,On foot,66084,67169,80412,100569,111121,96796,95514
71,Population aged 15 years and over at work,Female,Bicycle,21281,15920,12580,7827,8358,10728,15496
72,Population aged 15 years and over at work,Female,"Bus, minibus or coach",51458,51553,57777,59029,60685,53081,61648
73,Population aged 15 years and over at work,Female,"Train, DART or LUAS",6604,9482,11079,16169,26893,27097,30826
74,Population aged 15 years and over at work,Female,Motorcycle or scooter,2787,2250,1290,2207,1824,1111,1250
75,Population aged 15 years and over at work,Female,Motor car: Driver,94152,138955,221207,387164,500412,551638,590927
76,Population aged 15 years and over at work,Female,Motor car: Passenger,55105,57932,66913,55677,49828,43346,43984
77,Population aged 15 years and over at work,Female,Other means (incl. lorry or van),2212,4257,3296,3277,3502,3187,3101
78,Population aged 15 years and over at work,Female,Work mainly at or from home,26942,36126,30836,24855,36445,24048,29347
79,Population aged 15 years and over at work,Female,Not stated,20523,16708,13849,9071,9622,28193,41070

In [84]:
# Create a contingency table
grp_vs_gen_tab = pd.crosstab(irl_trans["Group"], irl_trans["Sex"], values=irl_trans["2016"], aggfunc=np.sum )
grp_vs_gen_tab

Sex                                                 Female     Male
Group
Children at school aged between 5 and 12 years      267251   279665
Population aged 15 years and over at work           913163  1057565
Students at school or college aged 19 years and...   98309    92486
Students at school or college aged between 13 a...  172315   177853

In [85]:
# Apply the Chi-squared test to the contingency table
chisq, p, dof, evs = ss.chi2_contingency(grp_vs_gen_tab)
print("chi-squared " + str(chisq))
print("p = " + str(p))
print("degrees of freedom = " + str(dof))
print("expected value table: ")
print(evs)

chi-squared 3125.270216784954
p = 0.0
degrees of freedom = 3
expected value table:
[[ 259463.18007119  287452.81992881]
 [ 934935.81086553 1035792.18913447]
 [  90515.32125899  100279.67874101]
 [ 166123.68780428  184044.31219572]]

**Interpretation:** The Chi-squared statistic is high and the p-value equal to 0, indicating that there is a relationship between the gender and group variables. This means that the sexes are not evenly represented across the groups in the sample.

### Chi-squared test on data fixed to match expected values

In [87]:
# Make some perfectly distributed data
col = [1111, 2222, 3333, 4444]
tab = pd.DataFrame({'one':col, 'two':col, 'three':col})

In [88]:
# Apply the Chi-squared test to the 'fixed' data
chisq, p, dof, evs = ss.chi2_contingency(tab)
print("chi-squared " + str(chisq))
print("p = " + str(p))
print("degrees of freedom = " + str(dof))
print("expected value table: ")
print(evs)

chi-squared 0.0
p = 1.0
degrees of freedom = 6
expected value table:
[[1111. 1111. 1111.]
 [2222. 2222. 2222.]
 [3333. 3333. 3333.]
 [4444. 4444. 4444.]]

**Interpretation:** The Chi-squared statistic is 0 and the p-value 1. This indicates a perfect randomness and lack of relationship between the column and row variables. However, a result like this in a real scenario would be 'too good to be true' and may indicate data fixing.